.half {
width: 49.8%;
display: inline-block;
vertical-align:top;
}
.half{overflow:auto;} 

.third {
width: 33.1%;
display: inline-block;
vertical-align:top;
}
.third{overflow:auto;} 

@media (max-width: 1000px) {
   .half{
      width: 100%;

   }
   .third{
      width: 100%;
    }
}
