.half {
width: 50%;
display: inline-block;
vertical-align:top;
}
.half{overflow:auto;} 

.third {
width: 33%;
display: inline-block;
vertical-align:top;
}
.third{overflow:auto;} 

@media (max-width: 1000px) {
   .half{
      width: 100%;
      display: none;
      vertical-align: none;
   }
   .third{
      width: 100%;
    }
}
