/* CSS for "poster" included in poster.html */
.poster {
  background-image:url('../img/homeBackground.jpg');
  background-size: 100%;
  background-repeat:repeat;
  min-height:200px;
  background-attachment: fixed;
}


.poster .container {
  max-width:100%;
}

.poster .container .left {
  margin-top:50px;
}

.poster .container .ui_icon {
  float:left;
  margin-left:10%;
  clear:both;
}

.poster .container .right{
  float: right;
}

.poster a {
  //color:#b1b3b3;
  color: white;
  font-weight:bold;
  text-decoration: underline;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.poster a:hover {
  color:#d82743;
  text-decoration: underline;
}

.poster h1 {
  
   color:#d82743;
  font-weight:bold;
  font-size:60px;
  margin-top:0px;
  margin-bottom:15px;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.poster p {
  color:#b1b3b3;
  font-weight:bold;
  font-size:40px;
  margin-top:0px;
  margin-bottom:5px;
  text-shadow:
       1px 1px 0 #FFF,
     -1px -1px 0 #FFF,  
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
}

.poster h2 {
  //color:#b1b3b3;
  color: white;
  font-weight:bold;
  font-size:27px;
  margin-top:20px;
  margin-bottom:15px;
  /*text-shadow:
       1px 1px 0 #FFF,
     -1px -1px 0 #FFF,  
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;*/
}

.announcements {
width: 50%;
float: left;
}
.announcements{overflow:auto;} 

.aboutus {
width: 50%;
float: right;
}
.aboutus{overflow:auto;}


@media (max-width: 800px) {
  .poster h1 {
    font-size:36px; /* Resize poster heading to fit on smaller screens */
  }

  .poster h2 {
    font-size:14px;
    position: center;
  }
  .poster p {
    font-size:12px;
  }
  .poster .ui_icon {
    width:50px;
    height:auto;
  }
  .poster {
    height: auto;
    text-align: center;
    background:url('../img/homeBackground.jpg') no-repeat 50% 0;
    background-attachment: fixed;
  }

  .aboutus {
  width: 100%;
  float: none:
  }

  .announcements {
  width: 100%;
  float: none;
  }

}


