<!-- Footer -->
<hr>
<footer>
   <center>
	<div id="footer">
	
		If you have questions about this page, please contact the <a href="mailto:vimartin@umass.edu">webmaster</a>. Links to external sites are provided as a convenience to our users. The Department of Physics does not control or endorse the content of external sites.
		<a href="{{ site.baseurl }}/changelog"><button type="button" class="btn btn-xs btn-info" href="{{ site.baseurl }}/changelog">Change Log</button></a>
    
	</div>
</center>
   
</footer>
