<!-- Navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
     <img class="icon" src="{{ site.baseurl }}/img/UMass_Seal.png"
	  alt="University of Massachusetts Amherst" title="University of Massachusetts Amherst">
     <a class="navbar-brand" href="{{ site.baseurl }}"><div
       class="hidden-xs hidden-sm">Martinez Outschoorn HEP Research
       Group</div><div class="visible-xs visible-sm">Martinez Outschoorn Research Group</div></a>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	  {% include pages_list %}

	  </ul>
	</div><!--/.nav-collapse -->
  </div>
</div>
<div style="position:absolute"></div>
